# Node
node_modules/*
npm-debug.log

# TypeScript
*.js
*.map
*.d.ts
!gulpfile.js
# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

dist
*.sh
.idea/
.tmp/
build/
package-lock.json
