<div *ngIf="multi">
    <div *ngFor="let item of selected"
         class="selected-items">
        <ion-button class="{{ removeButtonClasses }}"
                    [color]="removeButtonColor"
                    [fill]="'outline'"
                    [shape]="'round'"
                    (click)="removeItem(item)">
            {{ getLabel(item) }}
            <ion-icon [name]="removeButtonIcon"
                      [slot]="removeButtonSlot"></ion-icon>
        </ion-button>
    </div>
</div>
<ion-input
        #inputElem
        (keyup)="getItems($event)"
        (tap)="handleTap($event)"
        [(ngModel)]="keyword"
        (ngModelChange)="updateModel()"
        [placeholder]="options.placeholder == null ? defaultOpts.placeholder : options.placeholder"
        [type]="options.type == null ? defaultOpts.type : options.type"
        [clearOnEdit]="options.clearOnEdit == null ? defaultOpts.clearOnEdit : options.clearOnEdit"
        [clearInput]="options.clearInput == null ? defaultOpts.clearInput : options.clearInput"
        [mode]="options.mode == null ? defaultOpts.mode : options.mode"
        [disabled]="disabled || isInitializing"
        [ngClass]="{ 'hidden': !useIonInput, 'loading': isLoading }"
        (ionFocus)="onFocus()"
        (ionBlur)="onBlur()"
>
</ion-input>
<ion-searchbar
        #searchbarElem
        [animated]="options.animated == null ? defaultOpts.animated : options.animated"
        (ionInput)="getItems($event)"
        (tap)="handleTap($event)"
        [(ngModel)]="keyword"
        (ngModelChange)="updateModel()"
        [cancelButtonIcon]="options.cancelButtonIcon == null ? defaultOpts.cancelButtonIcon : options.cancelButtonIcon"
        [cancelButtonText]="options.cancelButtonText == null ? defaultOpts.cancelButtonText : options.cancelButtonText"
        [clearIcon]="options.clearIcon == null ? defaultOpts.clearIcon : options.clearIcon"
        [showCancelButton]="options.showCancelButton == null ? defaultOpts.showCancelButton : options.showCancelButton"
        [debounce]="options.debounce == null ? defaultOpts.debounce : options.debounce"
        [placeholder]="options.placeholder == null ? defaultOpts.placeholder : options.placeholder"
        [autocomplete]="options.autocomplete == null ? defaultOpts.autocomplete : options.autocomplete"
        [autocorrect]="options.autocorrect == null ? defaultOpts.autocorrect : options.autocorrect"
        [mode]="options.mode == null ? defaultOpts.mode : options.mode"
        [searchIcon]="options.searchIcon == null ? defaultOpts.searchIcon : options.searchIcon"
        [spellcheck]="options.spellcheck == null ? defaultOpts.spellcheck : options.spellcheck"
        [type]="options.type == null ? defaultOpts.type : options.type"
        [ngClass]="{ 'hidden': useIonInput, 'loading': isLoading, 'disabled': disabled || isInitializing }"
        (ionClear)="clearValue(true)"
        (ionFocus)="onFocus()"
        (ionBlur)="onBlur()"
>
</ion-searchbar>
<ng-template #defaultTemplate let-attrs="attrs">
    <span [innerHTML]='attrs.label | boldprefix:attrs.keyword'></span>
</ng-template>
<ul *ngIf="!disabled && suggestions.length > 0 && showList"
    [ngStyle]="getStyle()">
    <li *ngFor="let suggestion of suggestions"
        (click)="handleSelectTap($event, suggestion)"
        (tap)="handleSelectTap($event, suggestion)">
        <ng-template
                [ngTemplateOutlet]="template || defaultTemplate"
                [ngTemplateOutletContext]="
                        {attrs:{ 
                          data: suggestion, 
                          label: getLabel(suggestion),
                          keyword: keyword,
                          formValue: _getFormValue(suggestion), 
                          labelAttribute: dataProvider.labelAttribute, 
                          formValueAttribute: dataProvider.formValueAttribute }}"></ng-template>
    </li>
</ul>
<p *ngIf="suggestions.length == 0 && showList && options.noItems">{{ options.noItems }}</p>
